<app-lotr></app-lotr>
<hr>
<div>
  counter: {{ counter() }}
</div>
<div>
  result: {{ counter() * multiplier() }}
</div>
<div>
  result computed: {{ result() }}
</div>

<button (click)="up()">Up</button>
<button (click)="down()">Down</button>
<br>
<button (click)="multiplier.set(1)">x1</button>
<button (click)="multiplier.set(2)">x2</button>
<button (click)="multiplier.set(3)">x3</button>
<hr>

<div>
  counter: {{ counter$ | async }}
</div>

<button (click)="up$()">Up</button>
<button (click)="down$()">Down</button>
